body {
  font-family: sans-serif;
}

.quiz-container {
  border: 1px solid red;
}

.quiz-container,
.quiz-container div {
  padding: 10px;
}

.quiz-display {
  border: 1px solid black;
  display: flex;
}

.display-prompt,
.display-answer {
  flex: 1;
}

.display-prompt {
  border: 1px solid blue;
}

.display-answer {
  border: 1px solid green;
}

button {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

h3.header {
  font-weight: bold;
}

:not(h3.header) {
  font-weight: 300;
}

div.progress-bar {
  border: 2px solid red;
  display: flex;
}

div[role="progress-indicator"] {
  flex: 1;
  border: 1px solid black;
}